html, body {
    font-family: "Noto Sans KR";
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

p {
    color: #5c6d85;
}

input[type=text], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
}

#canvas-pie svg {
    margin-left: -35px;
    margin-right: -35px;
}

button.btn, button.btn-large a.btn.btn-floating {
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
}

button.btn:hover, button.btn-large:hover, a.btn.btn-floating:hover {
    box-shadow: none;
}

button.btn[type=submit] {
    font-size: 1.6rem;
}

.btn, .btn:hover {
    box-shadow: none;
}

.container {
    max-width: 960px;
}

.hide-mobile {
    display: none !important;
}


/*#selected-orgs, #selected-years {
    display: none;
}*/

input.select-dropdown[type=text] {
    display: none;
}

.select-wrapper > span.caret {
    display: none;
}
#selected-orgs-mobile, #selected-years-mobile, #selected-provinces-mobile, #selected-municipals-mobile,  #selected-dongs-mobile {
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #5c6d85;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline: none;
    line-height: 1.2;
    background-color: transparent;
    color: #5c6d85;
    -webkit-appearance: none;
    z-index: 12;
}

.input-field.input-field-integrated > input[type=text] {
    border: 1px solid #5C6D85;
    padding: 0 16px;
    box-sizing: border-box;
}

img.cc-by-license {
    width: 120px;
}

nav#nav {
    position: fixed;
    top: 0px;
    background-color: #343B46;
    z-index: 11;
    box-shadow: none;
}

nav#nav a.brand-logo.logo-main {
    left: 92px;
    padding: 2px 0px;
}

nav#nav a.brand-logo.logo-main:not(.active) {
    display: none;
}

nav#nav a.brand-logo.logo-normal {
    font-size: 1.2rem;
    left: 125px;
    padidng: 0px;
    letter-spacing: -0.15rem
}

nav#nav a.brand-logo.logo-normal:not(.active) {
    display: none;
}

nav#nav a.brand-logo > img {
    width: 65px;
}

nav#nav ul.right {
    /*width: */
}

nav#nav ul.right li {
    float: right;
    width: 38px;
}

nav#nav ul.right li a {
    padding: 8px 0;
    height: 56px;
    text-align: center;
}

nav#nav ul.right li a:hover {
    background-color: transparent;
}

nav#nav ul.right li.donate-mobile img {
    width: 20px;
}

nav#nav ul.right li.kakao a {
    padding-top: 10px;
}

nav#nav ul.right li.kakao img {
    width: 13px;
}

nav#nav ul.right li.facebook img {
    width: 12px;
}

nav#nav ul.right li.twitter img {
    width: 24px;
}

nav#nav .button-collapse {
    padding-left: 12px;
}

nav#nav .button-collapse i {
    font-size: 2.0rem;
    color: #97a8c0;
}

nav.nav-desktop {
    display: none;
    position: relative;
    background: transparent;
    box-shadow: none;
    padding: 28px 0px !important;
}

nav.nav-desktop ul li {
    position: relative;
}

nav.nav-desktop ul li:not(:first-child) a:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 23px;
    background-image: url('/img/menu-bar.png');
    background-size: cover;
    width: 1px;
    height: 19px;
}

nav.nav-desktop ul li a {
    padding: 0 35px;
    font-size: 1.2rem;
    font-weight: 300;
}

nav.nav-desktop ul li a:hover {
    background-color: transparent;
    color: #fffca9;
}

nav#nav li.donate {
    display: none;
}

nav li.donate a.donate {
    display: block;
    width: 200px;
    height: 70px;
    padding: 0;
    margin: 0;
    background-image: url(http://download.newstapa.org/common/choice2016/donate.png?v=2);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

#slide-out {
    margin-top: 57px;
}

header {
    width: 100%;
    color: #ffffff;
    background-color: #5C6D85;
    padding: 0px 10px;
    margin-top: 56px;
}

header > .row {
    margin-bottom: 0px;
}

header > .row > section.col {
    text-align: right;
    width: 100%;
    padding: 0px;
}

header h1 {
    font-weight: 200;
    /*letter-spacing: -0.07em;*/
    text-align: center;
    margin: 0px;
}

header h1 > a {
    font-size: 1.85rem;
    color: #ffffff;
}

header h1 > a:hover {
    color: #ffffff;
}

header div.subtitle {
    position: relative;
}

header p.subtitle {
    position: relative;
    display: inline-block;
    color: #a7b9d1;
    font-size: 0.75rem;
    text-align: right;
    margin-top: 0px;
}

header p.subtitle:first-child {
    position: absolute;
    top: 3px;
    right: 125px;
}

header p.subtitle > img {
    width: 120px;
}

#sidenav-overlay {
    z-index: 10;
}

.chip {
    color: #5c6d85;
    margin: 1px 5px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #5C6D85;
}

ul.dropdown-content.select-dropdown {
    max-height: 200px;
}

[type="checkbox"]:checked+label:before {
    border-right-color: #5C6D85;
    border-bottom-color: #5C6D85;
}

input[type=text].select-dropdown {
    background-color: transparent;
    z-index: 12;
}

span.caret {
    z-index: 11;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: none !important;
}

/*input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 2.5rem;
}*/

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #5C6D85;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    box-shadow: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #ffffff !important;
}

#search {
    margin-top: 56px;
}

#search > section {
    z-index: 10;
}

#search > section.content {
    margin: 0px;
}

#search > section.content .tab-content {
    padding-left: 0px;
    padding-right: 0px;
}

#search > section.content .tab-content .cards {
    height: 100%;
}

#search .tabs, #search-tabs {
    overflow-x: hidden;
}

#search .tabs, #search .tabs .tab {
    height: 58px;
}

#search .tabs .tab {
    padding: 10px 0;
    border-top: 2px solid #ababab;
}

#search .tabs .tab a {
    color: #5C6D85;
    font-size: 1.5rem;
}

#search .tabs .tab a:not(.active) {
    color: #ababab;
}

#search .tabs .tab a:hover {
    color: #5C6D85;
}

#search .tabs .indicator {
    top: 0px;
    height: 6px;
    background-color: #5C6D85;
}

#search {
    position: relative;
    top: 0px;
    z-index: 10;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#search.closed {
    top: -650px;
}

#search > section {
    padding: 35px 0 0;
}

#search form {
    padding: 25px 0px;
}

#search form > .row.container {
    margin: 0 auto;
}

#search form input, #search form .caret {
    color: #5c6d85;
    border-bottom-color: #5c6d85;
}

#search form .input-field {
    position: relative;
}

#search form .input-field .caret-mobile {
    position: absolute;
    z-index: 11;
    top: 10px;
    right: 20px;
    color: #5c6d85;
}

#search .dropdown-content li.active, #search .dropdown-content li.selected {
    background-color: transparent;
}

#selected-keyword, #selected-keyword-election {
    height: 45px;
}

#search-result {
    background-color: #e7e9ed;
}

#main {
    background-color: #ffffff;
}

#main .search-message h5 {
    display: inline-block;
    padding: 0.9rem 0 0.9rem 0;
    font-size: 1rem;
    text-align: center;
    /*letter-spacing: em;*/
    color: #5c6d85;
}

#main .search-message button {
    display: inline-block;
    margin: 0.82rem 0 0.656rem 0;
    font-size: 0.85rem;
}

#main .search-message h5 .value {
    font-weight: 700;
}

#btn-research {
    padding: 0px 1px;
}

.card {
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.1);
}

#main .search-cards .card {
    cursor: pointer;
    /*box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.1);*/
}

#main .search-cards .card .card-content, #main .card .card-content {
    text-align: center;
}

#main .search-cards .card .card-content img.card-profile {
    width: 75px;
}

/*#main .search-cards .card .card-content span.card-title, #main .card .card-content span.card-title {
    font-weight: bold;
}*/

#main .search-cards .card .card-content span.card-title, #main .card .card-content span.card-title {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: -0.06em;
    color: rgb(52, 59, 70);
}

.card .card-content span.card-subtitle {
    font-weight: 400;
    color: #5C6D85;
    font-size: 0.9rem;
    letter-spacing: -0.05em:
}

#main .search-cards .card .card-content span.card-title, #main .search-cards .card .card-content .card-subtitle, .card .card-content span.card-title, .card .card-content .card-subtitle {
    display: block;
}

#main .search-cards .card .card-action {
    position: relative;
    min-height: 100px;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    border-top: none;
}

#main .search-cards .card .card-action > li {
    position: relative;
    color: #7b7b7b;
    font-size: 14px;
    letter-spacing: -0.03em;
    list-style: none;
}

#main .search-cards .card .card-action > li:before {
    content: ' ';
    position: absolute;
    width: 3px;
    height: 3px;
    background-image: url('/img/dot.png');
    background-size: cover;
    top: 9px;
    left: -8px;
}

#main .search-cards .card .card-action .card-link-to-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#main .search-cards .card .card-action .card-link-to-btn > a > img {
    width: 10px;
    position: absolute;
    top: 10px;
    left: 15px;
}

#main > section {
    margin: 0 auto;
}

#main .page {
    padding: 50px 0;
    color: #5c6d85;
}

#main .page.page-about {
    max-width: 712px;
}

#main .page.page-about .col {
    padding: 0px 10px;
}

#main .page.page-about p {
    margin-top: 20px;
    padding: 0 1rem;
    line-height: 1.6rem;
    letter-spacing: -0.05em;
}

#main .page.page-about h5 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: -0.04em;
}

#main  .page.page-about img {
    width: 90px;
    margin: 20px 0px;
}

#main .page.page-about .about-codenamu {
    padding-top: 100px;
}

#main .page.page-about span.non-hightlight {
    color: #97a8c0;
}

#main .page.page-contact {
    width: 100%;
    height: 100%;
    background-color: #e7e9ed;
}

#main .page.page-contact .card {
    padding: 10px 0;
}

#main .search-loading {
    position: relative;
    height: 50px;
    background-color: #e7e9ed;
    text-align: center;
    padding: 50px 0;
}

.spinner-green, .spinner-green-only {
    border-color: #5c6d84;
}

#main .card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0,0,0,0.12);
}

#main .card .card-action {
    color: #ffffff;
    background-color: #5A6C84;
}

#main .card .card-action a {
    color: #ffffff;
}

#main .card .card-action a:hover {
    color: #ffffff;
}

#main .card .card-action > .row {
    padding: 30px 0px;
    border-bottom: 1px solid #949faf;
}

#main .card .card-action > .row:last-child {
    border-bottom: none;
}

#main .card .card-action h5 {
    position: relative;
}

#main .card .card-action h5 > li {
    font-size: 1.3rem;
    list-style: none;
}

#main .card .card-action h5 > li:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 4px;
    background-image: url('/img/dot-white.png');
    background-size: cover;
    top: 12px;
    left: -8px;
}

#main .card .card-action .official-total > span.value > span.number {
    font-size: 1.2rem;
    color: rgb(255, 252, 169);
}

#main .card .card-action .official-total > span.value > span.year {
    font-size: 1.1rem;
    color: #e7e9ed;
}

#main .card .card-action .official-pie-chart, #main .card .card-action .official-bar-chart {
    width: 100%;
    text-align: center;
}

#main .card .card-action .official-positions span.year {
    color: #97a8c0;
    font-size: 0.8rem;
}

#main .card .card-action button.btn.btn-large {
    font-size: 1.3rem;
}

#main .card .card-action .official-pie-chart h6 {
    text-align: left;
}

#main .modal {
    color: #5c6d85;
}

#page-official {
    color: #5c6d85;
    background-color: #e7e9ed;
}

#page-official .row {
    margin-bottom: 0px;
}

#page-official .card .card-action {
    padding: 35px;
}

#page-official .card .card-action > .row > ul, #page-official .card .card-action > .row > span {
    padding-left: 25px;
}

#page-official .row.history-back {
    display: none;
    cursor: pointer;
}

#page-official .backward, #page-official .forward {
    display: none;
}


#form-contact {
    color: #5c6d85;
}

#form-contact > .row {
    margin-bottom: 0px;
}

#form-contact .input-field {
    text-align: left;
}

#form-contact > .row:first-child .input-field {
    padding: 0 0.05rem;
}

#form-contact > .row:first-child .input-field label {
    font-size: 0.9rem;
}

#form-contact .input-field input, #form-contact .input-field textarea {
    border: 1px solid #dee2e7 !important;
    padding: 0 10px;
    box-sizing: border-box;
}

#form-contact > .row:first-child .input-field label {
    color: #5c6d85;
}

#form-contact > .row:first-child > .col:last-child {
    padding: 0px;
}

#form-contact > .row > .form-label {
    padding: 0 15px;
    margin-top: 18px;
    min-width: 75px;
    text-align: left;
}

#form-contact [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    font-size: 0.8rem;
    padding-left: 25px;
}

#form-contact [type="radio"]:not(:checked) + label:before {
    border: 2px solid #97a8c0;
}

#form-contact [type="radio"]:checked + label:before {
    border-radius: 50%;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    margin: 6px;
    z-index: 1;
}

#form-contact [type="radio"]:checked + label:after {
    border: 2px solid #5c6d85;
    background-color: #5c6d85;
}

#form-contact > .row .input-field textarea {
    height: 10rem !important;
}

.color-news {
    background-color: #5C6D85 !important;
}

.color-news-light {
    background-color: #e9e9e9 !important;
    color: #5c6d85;
}

.color-news:hover {
    background-color: #343B46 !important;
}

.color-news-light:hover {
    background-color: #e9e9e9 !important;
}

#nav ul.side-nav li a {
    font-size: 1.3rem;
    height: 44px;
    line-height: 44px;
}

#nav ul.side-nav li:hover, #nav ul.side-nav li a:hover {
    background-color: #f3f3f3;
}


#nav ul.side-nav li.nav-footer {
    position: absolute;;
    width: 240px;
    bottom: 115px;
    padding: 5px 15px;
    background-color: #5C6D85;
    font-size: 0.7rem;
    line-height: 20px;
}


#nav ul.side-nav li.nav-footer p {
    color: #97a8c0;
}

#nav ul.side-nav li.nav-footer img {
    width: 150px;
}

#nav ul.side-nav li.nav-footer img.cc-by-license {
    width: 120px;
}

footer.page-footer {
    display: none;
}

footer.page-footer {
    margin-top: 0px;
    background-color: #5C6D85;
    padding-bottom: 20px;
}

footer.page-footer p {
    color: rgba(255, 255, 255, 0.33);
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
    svg {
        margin-left: 0;
        margin-right: 0;
    }

    .hide-mobile {
        display: block !important;
    }

    .hide-desktop {
        display: none !important;
    }

    #selected-orgs-mobile, #selected-years-mobile, #selected-provinces-mobile, #selected-municipals-mobile, #selected-dongs-mobile  {
        display: none;
    }

    input.select-dropdown[type=text] {
        display: block;
    }

    .select-wrapper > span.caret {
        display: block;
        z-index: 1;
    }

    .input-field.input-field-integrated > input:focus, .input-field.input-field-integrated > input:active {
        height: 2.95rem;
    }

    .input-field.input-field-integrated > button {
        position: absolute;
        top: 0px;
        right: -88px;
        width: 100px;
        height: 45px;
        line-height: 47px;
    }

    button.btn[type=submit] {
        font-size: 1rem;
    }

    nav#nav a.brand-logo {
        left: 135px;
    }

    nav#nav a.brand-logo img {
        width: 165px;
    }

    #search {
        margin-top: 90px;
        display: block;
        min-height: 370px;
    }

    #tags-default, #tags-election {
        padding: 0px 50px;
    }

    header {
        height: 140px;
        padding: 10px;
        margin-top: 56px;
    }

    header > .row > .col {
        text-align: left;
        width: 50% !important;
    }

    header h1 {
        text-align: left;
    }

    header h1 > a {
        font-size: 2.2rem;
    }

    header div.subtitle {
        text-align: left;
    }

    header div.subtitle p {
        display: inline-block;
    }

    header div.subtitle p > img {
        width: 150px;
        position: absolute;
        top: -5px;
        left: 5px;
    }

    header p.subtitle:first-child {
        position: relative;;
        right: inherit;
    }

    ul.dropdown-content.select-dropdown {
        max-height: 290px;
    }

    .cards .card .card-action > li {
        font-size: 0.85rem;
    }

    #main {
        padding-bottom: 320px;
    }

    #main .page.page-about p {
        padding: 0;
    }

    #main .page.page-about h5 {
        font-size: 1.4rem;
        line-height: 2rem;
        /*letter-spacing: 0px;*/
        margin: 1.82rem 0 0.656rem 0;
    }

    #main  .page.page-about img {
        width: 150px;
    }

    #page-official {
        padding: 45px 0 110px;
    }

    #page-official .card .card-action .official-total > span.value > span.number {
        font-size: 2.2rem;
    }

    #page-official .row.history-back {
        display: block;
    }

    #page-official .backward, #page-official .forward {
        display: block;
        cursor: pointer;
        color: #97a8c0;
    }

    #page-official .backward .row , #page-official .forward .row {
        margin-bottom: 0px;
    }

    #page-official .backward .row.icon, #page-official .forward .row.icon {
        text-align: center;
    }

    #page-official .card.ontop .backward {
        position: absolute;
        left: -11.5%;
        top: 350px;
    }

    #page-official .card:not(.ontop) .backward {
        position: fixed;
        left: 20%;
        top: 50%;
    }

    #page-official .card.ontop .forward {
        position: absolute;
        right: -11.5%;
        top: 350px;
    }

    #page-official .card:not(.ontop) .forward {
        position: fixed;
        right: 20%;
        top: 50%;
    }


    #main .page {
        padding: 100px 0;
    }


    #main .page.page-about h5 {
        line-height: 2.6rem;
    }

    #main .page.page-about p {
        margin-top: 60px;
    }

    #form-contact [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        font-size: 1rem
    }


    footer.page-footer {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    footer.page-footer .col:last-child{
        text-align: center;
    }

    #cavnas-pie {
        height: 350px;
    }
}

@media only screen and (min-width: 769px) {
    nav#nav {
        height: 90px;
    }

    nav#nav a.brand-logo {
        left: 10px;
        padding: 15px 0px;
    }

    nav#nav a.brand-logo img {
        width: 196px;
    }

    nav#nav ul.right {
        width: 400px;
    }

    nav#nav ul.right li:not(.donate) {
        width: 45px;
    }

    nav#nav ul.right li.donate {
        width: 200px;
    }

    nav#nav ul.right li a {
        padding: 15px 0;
        height: 90px;
    }

    nav#nav ul.right li.kakao a {
        padding-top: 15px;
    }

    nav#nav ul.right li a img {
        width: auto;
    }

    nav#nav ul.right li.kakao img {
        width: 15px;
    }

    nav#nav ul.right li.facebook img {
        width: 13px;
    }

    nav#nav ul.right li.twitter img {
        width: 30px;
    }

    nav#nav ul a {
        font-size: 2rem;
    }

    nav#nav li > a > i {
        height: 39px;
    }

    nav#nav li.donate {
        display: block;
    }

    nav.nav-desktop {
        display: block;
    }

    header {
        height: 140px;
        padding: 10px;
        margin-top: 90px;
    }

    header h1 > a {
        font-size: 3.2rem;
    }

    #main {
        padding-bottom: 100px;
    }

}

/*
    d3.pie Style
 */

 #canvas-bar, #cavnas-pie {
     width: 100%;
     height: 320px
     overflow-x: scroll;
     overflow-y: hidden;
 }

#canvas-bar .axis {
  font: 10px sans-serif;
}

#canvas-bar .axis path, #canvas-bar .axis line {
  fill: none;
  stroke: #fff;
  /*shape-rendering: crispEdges;*/
}

#canvas-bar .axis text {
    fill: white;
}

#canvas-pie svg > g:not([class*="_lineGroups"]) path {
    stroke: #5c6d85 !important;
    stroke-width: 2 !important;
}
