nav {
  background-color: #343B46;
  z-index: 11;
  position: relative;
}

nav a.brand-logo {
  left: 150px;
  padding: 5px 10px;
}

nav a.brand-logo > img {
  width: 200px;
}

nav.nav-desktop {
  display: none;
  background: transparent;
  box-shadow: none;
  padding: 40px 0px !important;
}

nav.nav-desktop ul a {
  padding: 0 45px;
}

#sidenav-overlay {
  z-index: 10;
}

.chip {
  color: #5c6d85;
  margin: 1px 5px;
}

button {
  width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #5C6D85;
}

[type="checkbox"]:checked+label:before {
  border-right-color: #5C6D85;
  border-bottom-color: #5C6D85;
}

input[type=text]:focus, input[type=text]:active, input[type=text]:focus:not([readonly]), input[type=text].valid, input[type=text]:focus.valid {
  border-bottom-color: #5C6D85;
}

#search > section {
  padding: 20px 0px;
  z-index: 10;
}

#page-search .tabs, #page-search .tabs .tab {
  height: 58px;
}

#page-search .tabs .tab {
  padding: 10px 0;
  border-top: 2px solid #ababab;
}

#page-search .tabs .tab a {
  color: #5C6D85;
  font-size: 1.5rem;
}

#page-search .tabs .tab a:not(.active) {
  color: #ababab;
}

#page-search .tabs .tab a:hover {
  color: #5C6D85;
}

#page-search .tabs .indicator {
  top: 0px;
  height: 6px;
  background-color: #5C6D85;
}

#page-search > header {
  width: 100%;
  color: #ffffff;
  background-color: #5C6D85;
  padding: 30px 10px;
  margin-top: -20px;
}

#page-search > header h1 {
  font-size: 2.5rem;
  text-align: center;
}

#page-search > header p {
  text-align: right;
}

#page-search {
  position: relative;
  top: 0px;
  z-index: 10;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#page-search.closed {
  top: -650px;
}

#page-search > section {
  padding: 35px 0 0;
}

#page-search form {
  padding: 25px 0px;
}

#page-search form input, #page-search form .caret {
  color: #5c6d85;
  border-bottom-color: #5c6d85;
}

#main {
  padding: 10px 0px;
}

#main .search-message h5 {
  margin: 0.6rem 0 0.656rem 0;
}

#btn-research {
  padding: 0px 1px;
}

#main .search-cards .card {
  cursor: pointer;
}

#main .search-cards .card .card-content, #page-official .card .card-content {
  text-align: center;
}

#main .search-cards .card .card-content img.card-profile {
  width: 75px;
}

#main .search-cards .card .card-content span.card-title, #page-official .card .card-content span.card-title {
  font-weight: bold;
}

#main .search-cards .card .card-content span.card-subtitle, #page-official .card .card-content span.card-subtitle {
  font-weight: bold;
  color: #5C6D85;
}

#main .search-cards .card .card-content span.card-title, #main .search-cards .card .card-content .card-subtitle, #page-official .card .card-content span.card-title, #page-official .card .card-content .card-subtitle {
  display: block;
}

#main .search-cards .card .card-action {
  font-size: 1.2rem;
  position: relative;
  background-color: #f8f8f8;
  min-height: 100px;
}

#main .search-cards .card .card-action .card-link-to-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

#page-official {
  background-color: #E7E8EC;
}

#page-official .card .card-action {
  color: #ffffff;
  background-color: #5A6C84;
}

#page-official .card .card-action > .row {
  padding: 30px 0px;
  border-bottom: 1px solid #ffffff;
}

#page-official .card .card-action > .row:last-child {
  border-bottom: none;
}

#page-official .card .card-action .official-total > span.value {
  font-size: 2.2rem;
}

#page-official .card .card-action .official-pie-chart {
  text-align: center;
}

#page-official .card .card-action .official-pie-chart h6 {
  text-align: left;
}

.color-news {
  background-color: #5C6D85;
}

.color-news:hover {
  background-color: #343B46;
}

#nav ul.side-nav li.nav-footer {
  position: fixed;
  width: 240px;
  bottom: 0px;
  padding: 35px 15px;
  background-color: black;
  line-height: 20px;
}

#nav ul.side-nav li.nav-footer img {
  width: 150px;
}

@media only screen and (min-width: 768px) {
  nav a.brand-logo {
    left: 0;
  }

  nav.nav-desktop {
    display: block;
  }

  #tags-default, #tags-election {
    padding: 0px 50px;
  }

  #page-search.closed {
    top: 0px;
  }

  #page-search > header h1 {
    text-align: left;
    font-size: 3rem;
  }

  #page-search > header p {
    text-align: left;
  }

  #page-search .card .card-action > li {
    font-size: 0.85rem;
  }
}
