<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Spec Runner</title>
  <link rel="stylesheet" href="../bower_components/mocha/mocha.css">
</head>
<body>
  <div id="mocha"></div>
  <script src="../bower_components/mocha/mocha.js"></script>
  <script>mocha.setup('bdd');</script>
  <script src="../bower_components/chai/chai.js"></script>
  <script>
    var assert = chai.assert;
    var expect = chai.expect;
    var should = chai.should();
  </script>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- include source files here... -->
  <script src="views/officials.js"></script>
  <script src="views/official.js"></script>
  <script src="views/card.js"></script>
  <script src="routers/main.js"></script>
  <script src="collections/dong.js"></script>
  <script src="collections/municipal.js"></script>
  <script src="collections/official.js"></script>
  <script src="collections/org.js"></script>
  <script src="collections/province.js"></script>
  <script src="models/province.js"></script>
  <script src="models/org.js"></script>
  <script src="models/official.js"></script>
  <script src="models/municipal.js"></script>
  <script src="models/dong.js"></script>
  <script src="views/about.js"></script>
  <script src="views/contact.js"></script>
  <script src="views/header.js"></script>
  <script src="views/nav.js"></script>
  <script src="views/searchbox.js"></script>
  <!-- include spec files here... -->
  <script src="spec/test.js"></script>
  <script>
    if (navigator.userAgent.indexOf('PhantomJS') === -1) {
      mocha.run();
    }
  </script>
</body>
</html>
