<section class="page page-about container">
  <section class="row">
    <div class="col s12 m8">
      <h5>언론사 기자, 시민단체 관계자를 포함한 일반 시민<br>누구나 관심있는 공직자를 검색하고,<br>재산 정보를 직접 확인할 수 있도록 했습니다</h5>
    </div>
    <div class="col s12 m4">
      <img src="/img/about/image_1.png" alt="이미지 1">
    </div>

  </section><!-- /header -->
  <p>고위공직자 재산 공개 제도는 1993년 김영삼 대통령 때 처음 시작됐습니다. 공직자들의 재산을 공개함으로써 공직사회의 투명성을 늘리기 위한 취지로 도입된 제도입니다. 그러나 시민들이 이 자료를 활용해서 공직자를 감시하는 것은 매우 어려운 일입니다. 우선 이 자료는 전자관보 사이트를 통해 공개되는데, 사이트에서는 내용 검색을 하기가 어렵습니다. 불과 몇 해 전인 2010년 자료만 해도 pdf 자료가 문자 정보가 들어 있지 않은 스캔 파일로 되어 있어서, 내용 검색이 불가능합니다.</p>
  <p>뉴스타파는 지난 2013년부터 그림으로 되어 있는 정보를 문자인식하고, 검증하는 작업을 반복하여 고위공직자 재산 자료를 데이터화하는 작업을 해왔습니다. 올해는 그 결과물을 온라인 상에 처음 공개합니다. 언론사 기자, 시민단체 관계자를 포함한 일반 시민 누구나 관심있는 공직자를 검색하고, 재산 정보를 직접 확인할 수 있도록 했습니다. 또한 저희가 만든 데이터를 인용 절차를 거쳐 누구나 사용할 수 있도록 CC라이선스로 공개할 예정입니다.</p>

  <p>CCKOREA / 코드나무 프로젝트 설명</p>
</section>
