<section class="page page-about container">
  <div class="row about-newstapa about-project">
    <div class="col s8 m8" style="padding: 35px 0;">
      <!--
      <h5><span class="non-hightlight hide-mobile">언론사 기자, 시민단체 관계자를 포함한 일반 시민<br></span>누구나 관심있는 공직자를 검색하고,<br class="hide-mobile">재산 정보를 직접 확인<span class="non-hightlight">할 수 있도록 했습니다</span></h5>
      -->
      <h5>국회의원, 고위공무원 재산 검증하세요!</h5>

    </div>
    <div class="col s4 m4">
      <img src="/img/about/image_1.png" alt="이미지 1">
    </div>
  </div><!-- /header -->
  <div class="row">
    <!--
    <p>고위공직자 재산 공개 제도는 1993년 김영삼 대통령 때 처음 시작됐습니다. 공직자들의 재산을 공개함으로써 공직사회의 투명성을 늘리기 위한 취지로 도입된 제도입니다. 그러나 시민들이 이 자료를 활용해서 공직자를 감시하는 것은 매우 어려운 일입니다. 우선 이 자료는 전자관보 사이트를 통해 공개되는데, 사이트에서는 내용 검색을 하기가 어렵습니다. 불과 몇 해 전인 2010년 자료만 해도 pdf 자료가 문자 정보가 들어 있지 않은 스캔 파일로 되어 있어서, 내용 검색이 불가능합니다.</p>
    <p>뉴스타파는 지난 2013년부터 그림으로 되어 있는 정보를 문자인식하고, 검증하는 작업을 반복하여 고위공직자 재산 자료를 데이터화하는 작업을 해왔습니다. 올해는 그 결과물을 온라인 상에 처음 공개합니다. 언론사 기자, 시민단체 관계자를 포함한 일반 시민 누구나 관심있는 공직자를 검색하고, 재산 정보를 직접 확인할 수 있도록 했습니다. 또한 저희가 만든 데이터를 인용 절차를 거쳐 누구나 사용할 수 있도록 CC라이선스로 공개할 예정입니다.</p>
    -->
    <p>
      뉴스타파는 그동안 기관 별로 산발적으로 공개되던 고위공직자들의 재산 내역을 한데 모아 시민들이 쉽게 찾아 볼 수 있는 웹사이트를 제작했습니다. 특히 고위공직자의 경우 여러 해에 걸친 재산 형성 과정을 직접 추적해 볼 수 있습니다.
    </p>
    <p>
      이번 고위공직자 재산 공개 내역에는 2006년부터 2016년까지 연인원 2만 3천여 명의 고위공직자들의 재산 신고 내용이 들어 있으며, 특히 20대 국회의원 300명의 재산을 별도로 분류해 확인이 용이하도록 했습니다.
    </p>
    <p>
      기관별 재산 공개 공직자 수(연인원)<br />
      <table class="responsive-table">
        <thead>
          <tr>
            <th>연도</th>
            <th>국회</th>
            <th>정부</th>
            <th>대법원</th>
            <th>헌법재판소</th>
            <th>중앙선관위</th>
            <th>20대 국회의원</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2006</td>
            <td>335</td>
            <td>643</td>
            <td>124</td>
            <td>12</td>
            <td>25</td>
            <td>-</td>
            <td>1,139</td>
          </tr>
          <tr>
            <td>2007</td>
            <td>333</td>
            <td>625</td>
            <td>123</td>
            <td>-</td>
            <td>17</td>
            <td>-</td>
            <td>1,098</td>
          </tr>
          <tr>
            <td>2008</td>
            <td>337</td>
            <td>1,739</td>
            <td>136</td>
            <td>-</td>
            <td>13</td>
            <td>-</td>
            <td>2,225</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>320</td>
            <td>1,782</td>
            <td>140</td>
            <td>11</td>
            <td>20</td>
            <td>-</td>
            <td>2,273</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>330</td>
            <td>1,851</td>
            <td>129</td>
            <td>11</td>
            <td>15</td>
            <td>-</td>
            <td>2,336</td>
          </tr>
          <tr>
            <td>2011</td>
            <td>322</td>
            <td>1,831</td>
            <td>142</td>
            <td>11</td>
            <td>18</td>
            <td>-</td>
            <td>2,324</td>
          </tr>
          <tr>
            <td>2012</td>
            <td>326</td>
            <td>1,844</td>
            <td>148</td>
            <td>12</td>
            <td>17</td>
            <td>-</td>
            <td>2,347</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>326</td>
            <td>1,933</td>
            <td>147</td>
            <td>11</td>
            <td>15</td>
            <td>-</td>
            <td>2,432</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>336</td>
            <td>1,868</td>
            <td>144</td>
            <td>12</td>
            <td>20</td>
            <td>-</td>
            <td>2,380</td>
          </tr>
          <tr>
            <td>2015</td>
            <td>328</td>
            <td>1813</td>
            <td>162</td>
            <td>13</td>
            <td>18</td>
            <td>-</td>
            <td>2,338</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>328</td>
            <td>1,813</td>
            <td>161</td>
            <td>13</td>
            <td>13</td>
            <td>300</td>
            <td>2,628(2,476*)</td>
          </tr>
          <tr>
            <td>총인원</td>
            <td>975</td>
            <td>5,836</td>
            <td>302</td>
            <td>40</td>
            <td>82</td>
            <td>300</td>
            <td>7,010</td>
          </tr>
        </tbody>
      </table>
      <p><i>*20대 국회의원 300명 중 152명은 기존 정기 재산공개 대상으로, 전체 2016년 공개인원은 중복을 제외할 경우 2,476명.</i></p>
    </p>
    <p>
      공직자들의 재산 공개는 공직자윤리법에 근거해 1993년 처음 시행됐습니다. 재산공개제도는 고위공직자의 재산을 투명하게 공개함으로써 부정부패를 예방하기 위한 제도입니다. 공직자윤리법에 따라 정부, 국회, 대법원, 헌법재판소, 중앙선거관리위원회 등에는 각각 공직자윤리위원회가 설치되어 있고 이들 공직자윤리위원회는 관보나 공보를 통해 고위공직자들의 재산 내역을 공개하고 있습니다.
    </p>
    <p>
      그러나 시민들이 각 기관의 공보나 관보를 직접 찾아 공직자들의 재산형성 과정을 확인한다는 것은 어려운 일이었습니다. 정보가 각 기관마다 산발적으로 공개되고, 관보 내용에서 사람을 직접 검색할 수 없었기 때문입니다.
    </p>
    <p>
      뉴스타파는 앞으로 매년 공직자들의 재산이 공개될 때마다 이 사이트를 업데이트할 예정입니다. 99% 시민들의 후원으로 운영되는 뉴스타파는 시민들이 공공 데이터를 보다 효율적으로 이용할 수 있도록 하기 위해 더욱 노력하겠습니다.
    </p>
    <p>
      이 프로젝트는 정보의 자유로운 공유를 추구하는 <a href="http://cckorea.org">크리에이티브 커먼즈 코리아와 공동작업</a>으로 추진하고 있습니다.
    </p>

  </div>
  <div class="row about-newstapa">
    <div class="col s8 m8">
      <h5>
        진실의 수호자가 되겠습니다.<br />
        ‘성역없는 탐사보도’로<br />
        한국언론의 희망을 만들겠습니다.
    </div>
    <div class="col s4 m4">
      <img src="/img/logo/newstapa-gray.png" alt="이미지 1">
    </div>
  </div><!-- /header -->
  <div class="row">
    <p>
      한국탐사저널리즘센터/뉴스타파는 99% 시민을 위한 비영리, 비당파, 독립 언론기관입니다. 뉴스타파는 전국언론노동조합의 지원 하에 MB 정부 시기 해직 언론인과 탐사보도 전문 언론인들이 중심이 돼 설립됐습니다.
    </p>
    <p>
      뉴스답지 않은 ‘가짜 뉴스’를 ‘타파’하고, 언론 본연의 임무인 권력 감시와 진실 보도를 지향하는 ‘진짜 뉴스’를 위해 뭉쳤습니다.<br />
      뉴스타파는 2012년 1월 27일 첫 탐사보도를 내보낸 이래 3만여 명의 후원 회원의 성원을 바탕으로 우리 사회에서 가장 영향력 있고, 신뢰받는 언론기관으로 발돋움하고 있습니다.
    </p>
    <p>
      한국탐사저널리즘센터/뉴스타파는 어떠한 압력이나 간섭에서도 자유롭기 위해 광고나 정부 또는 이익단체의 지원을 일체 배제하고 시민들의 자발적 후원으로 운영됩니다.
    </p>
  </div>
  <div class="row about-codenamu">
    <div class="col s4 m4">
      <img src="/img/logo/codenamu.png" alt="코드나무" style="width: 100%;">
    </div>
    <div class="col s8 m8">
      <h5>더 많은 데이터가 공개되고<br>
      더 많은 사람들이 필요한 정보에 접근할 수 있는<br>
      오픈 데이터를 위한 활동
      </h5>
    </div>
  </div>
  <div class="row">
    <p>
      <a href="http://cckorea.org" title="크리에이티브 커먼즈 코리아">크리에이티브 커먼즈 코리아</a>에서는 2011년 오픈데이터 프로젝트 <a href="http://codenamu.org" title="코드나무">코드나무</a>를 시작하였습니다.<br>우리 사회에 보다 많은 데이터가 공개되고 보다 많은 사람들이 데이터에 접근하고 활용할 수 있도록 아래와 같은 다양한 활동을 이어오고 있습니다.
      <li>데이터를 활용하여 사회 문제를 해결하기 위한 <a href="http://codenamu.org/projects/hackathon/" title="코드나무 해커톤">해커톤</a></li>
      <li>공공데이터 관련 <a href="http://codenamu.org/projects/publication/" title="코드나무 서적/보고서">정책 제언, 책 출판</a></li>
      <li>IT기술로 사회 문제 해결을 위한 커뮤니티 <a href="http://codeforseoul.org" title="코드포서울">코드포서울</a></li>
    </p>
    <p>
      시민단체와 미디어의 역할은 사람들에게 꼭 필요한 이야기를 전달하고자 노력하고 있습니다. 사람들을 중요한 사실과 메시지를 전달하는 것입니다. 중요한 사실을 대중들에게 인식 시키고 마음을 움직일때에 데이터는 중요한 역할을 합니다.  그러나 미디어, 시민 단체에서는  데이터를 관리하고 활용할 수 있는 기술, 데이터를 보다 쉽고 다양한 방법으로 읽고 전달할 수 있는 기술이부족한 경우가 있습니다.
    </p>
    <p>
      그로 인해  중요한 데이터들이 관리되지 못하고 공개되지 못하거나 중요한 사실들이 효과적으로 전달되지 못하는 경우도 종종 있습니다. 그동안 데이터를 통한 다양한 프로젝트를 해온 코드나무는 다양한 시민단체, 미디어들과 협력하여 국내 오픈 데이터가 더욱 풍성해질 수 있도록 데이터를 공개하고 사람들에게 꼭 필요한 이야기를 데이터 저널리즘 활동을 통해 효과적으로 전달할 수 있는 프로젝트를 이어가고자 합니다.
    </p>
    <p>
      그 첫번째 프로젝트로 뉴스타파와 함께 한 고위공직자 재산 데이터를 활용한 프로젝트입니다.<br>
      우리 사회를 책임지고 있는 고위공직자 들의 재산 정보는 그 책임성과 청렴도로 비추어 보아 많은 시민들이 꼭 함께 지켜볼 필요가 있는 정보입니다. 2013년부터 데이터 형태로 보관해왔던 뉴스타파와 함께 누구나 사용할 수 있는 형태로 데이터를 공개하여 보다 다양한 언론 기관과 일반인들이 자유롭게 활용할 수 있게 되기를 바랍니다. 또한 누구나 접근 가능하고 검색 가능하도록 구현하여 데이터를 모르는 일반인들도 쉽게 활용할 수 있기를 바랍니다.
    </p>
  </div>
</section>
