<section class="row">
  <section class="col s12">
    <h1><a href="/">고위공직자 재산 정보 공개</a></h1>
    <div class="subtitle">
      <p class="subtitle">크리에이티브 커먼즈 코리아 공동작업</p>
      <p class="subtitle"><img src="/img/cc-gray.png" alt="CCKOREA"></p>
    </div>
  </section>
  <nav class="nav-desktop col m6">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a href="/#about">소개</a></li>
        <li><a href="http://newstapa.org/tag/%EA%B3%A0%EC%9C%84%EA%B3%B5%EC%A7%81%EC%9E%90%EC%9E%AC%EC%82%B0" target="_blank">보도사례</a></li>
        <li><a href="#data-alert" class="modal-trigger">데이터</a></li>
        <li><a href="/#contact">연락하기</a></li>
      </ul>
    </div>
  </nav>
</section>
