<a href="/" class="brand-logo"><img src="/img/logo/newstapa.png" alt="뉴스타파"></a>
<ul id="slide-out" class="side-nav">
  <li><a href="/">홈</a></li>
  <li><a href="/">소개</a></li>
  <li><a href="/">보도사례</a></li>
  <li><a href="/">데이터</a></li>
  <li><a href="/">제작진에게 연락하기</a></li>
  <li class="nav-footer">
    <img src="/img/logo/nav-footer.png" alt="뉴스타파 & CCKOREA">
    <p>Copyright © 2016<br>
      The Korea center For Investigation Journalism<br>
      Some right reserved.
    </p>
  </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
