<section class="container">
  <div class="row search-message">
    <div class="col s12">
      <h5>총 <%- count %>개의 결과를 찾았습니다.</h5>
    </div>
    <!-- <div class="col s3">
      <button id="btn-research" class="btn waves-effect color-news hide-desktop" type="button">다시 검색하기</button>
    </div> -->
  </div>
  <div class="row search-cards">

  </div>
</section>
