<section id="page-search">
  <header class="row">
    <section class="col s12 m6">
      <h1>고위공직자 재산 정보 공개</h1>
      <p>크리에이티브 커먼즈 코리아 공동작업</p>
    </section>
    <nav class="nav-desktop col m6">
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <li><a href="#">소개</a></li>
          <li><a href="#">보도사례</a></li>
          <li><a href="#">데이터</a></li>
          <li><a href="#">연락하기</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="search-form" class="row container">
    <div id="search-tabs" class="col s12 m6 offset-m3">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#search-default">기본 검색</a></li>
        <li class="tab col s3"><a href="#search-election">총선 인물 검색</a></li>
      </ul>
    </div>
    <section id="search-default" class="col s12">
      <form id="form-search-default" action="/officials" method="GET">
        <div class="row">
          <div class="input-field col s12 m6">
            <select id="selected-orgs" name="org" multiple>
              <option value="" disabled selected>소속을 선택하세요</option>
            </select>
          </div>
          <div class="input-field col s12 m6">
            <select id="selected-years" name="year" multiple>
              <option value="" disabled selected>연도를 선택하세요</option>
              <option id="option-years-id-2005" value="2005">2005</option>
              <option id="option-years-id-2006" value="2006">2006</option>
              <option id="option-years-id-2007" value="2007">2007</option>
              <option id="option-years-id-2008" value="2008">2008</option>
              <option id="option-years-id-2009" value="2009">2009</option>
              <option id="option-years-id-2010" value="2010">2010</option>
              <option id="option-years-id-2011" value="2011">2011</option>
              <option id="option-years-id-2012" value="2012">2012</option>
              <option id="option-years-id-2013" value="2013">2013</option>
              <option id="option-years-id-2014" value="2014">2014</option>
              <option id="option-years-id-2015" value="2015">2015</option>
            </select>
          </div>
        </div>
        <div id="tags-default" class="row"></div>
        <div class="row">
          <div class="input-field col s12 m5 offset-m2">
            <input type="text" id="selected-name" class="text" name="name" placeholder="검색어(이름, 직위, 소속)를 입력하세요.">
          </div>
          <div class="input-field col s3 m2">
            <button class="btn btn-large waves-effect color-news" type="submit" name="action">검색하기</button>
          </div>
        </div>
      </form>
      <section id="search-default-result" class="cards">

      </section>
    </section>
    <section id="search-election" class="col s12">
      <form id="form-search-election" action="/officials" method="GET">
        <div class="row">
          <div class="input-field col s12 m4">
            <select id="selected-provinces" name="province">
              <option value="" disabled selected>자치단체</option>
            </select>
          </div>
          <div class="input-field col s12 m4">
            <select id="selected-municipals" name="municipal" disabled>
            </select>
          </div>
          <div class="input-field col s12 m4">
            <select id="selected-dongs" name="dong" disabled>
            </select>
          </div>
        </div>
        <div id="tags" class="row">

        </div>
        <div class="row">
          <div class="input-field col s12 m3 offset-m6">
            <button class="btn btn-large waves-effect color-news" type="submit" name="action">검색하기</button>
          </div>
        </div>
      </form>
    </section>
  </section>
</section>

