<div class="row">
  <form action="">
    <div class="row">
      <div class="input-field col s12 m4">
        <input type="text" class="text">
      </div>
      <div class="input-field col s12 m4">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>소속 선택</label>
      </div>
      <div class="input-field col s12 m4">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2015">2015</option>
        </select>
        <label>연도 선택</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </form>
</div>

