<section class="row content">
  <div id="search-tabs" class="col s12 m4 offset-m4">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#search-default">전체 검색</a></li>
      <li class="tab col s3"><a href="#search-election">20대 의원 검색</a></li>
    </ul>
  </div>
  <section id="search-default" class="col s12 tab-content">
    <form id="form-search-default" class="container" action="/officials" method="GET">
      <div class="row">
          <div class="col s12 m10 offset-m1">
              <div class="input-field col s12 m4 offset-m2">
                  <select id="selected-orgs" name="org" multiple>
                    <option value="" disabled selected>소속을 선택하세요</option>
                  </select>
                  <select id="selected-orgs-mobile" name="org" multiple>
                    <optgroup label="소속을 선택하세요"></optgroup>
                  </select>
                  <label for="selected-orgs-mobile">소속을 선택하세요</label>
                  <span class="caret-mobile hide-desktop">▼</span>
              </div>
              <div class="input-field col s12 m4">
                  <select id="selected-years" name="year" multiple>
                    <option value="" disabled selected hidden>연도를 선택하세요</option>
                    <option id="option-years-id-2006" value="2006">2006</option>
                    <option id="option-years-id-2007" value="2007">2007</option>
                    <option id="option-years-id-2008" value="2008">2008</option>
                    <option id="option-years-id-2009" value="2009">2009</option>
                    <option id="option-years-id-2010" value="2010">2010</option>
                    <option id="option-years-id-2011" value="2011">2011</option>
                    <option id="option-years-id-2012" value="2012">2012</option>
                    <option id="option-years-id-2013" value="2013">2013</option>
                    <option id="option-years-id-2014" value="2014">2014</option>
                    <option id="option-years-id-2015" value="2015">2015</option>
                    <option id="option-years-id-2016" value="2016">2016</option>
                  </select>
                  <select id="selected-years-mobile" name="year" multiple>
                    <optgroup label="연도를 선택하세요">
                      <option id="option-mobile-years-id-2006" value="2006">2006</option>
                      <option id="option-mobile-years-id-2007" value="2007">2007</option>
                      <option id="option-mobile-years-id-2008" value="2008">2008</option>
                      <option id="option-mobile-years-id-2009" value="2009">2009</option>
                      <option id="option-mobile-years-id-2010" value="2010">2010</option>
                      <option id="option-mobile-years-id-2011" value="2011">2011</option>
                      <option id="option-mobile-years-id-2012" value="2012">2012</option>
                      <option id="option-mobile-years-id-2013" value="2013">2013</option>
                      <option id="option-mobile-years-id-2014" value="2014">2014</option>
                      <option id="option-mobile-years-id-2015" value="2015">2015</option>
                      <option id="option-mobile-years-id-2016" value="2016">2016</option>
                    </optgroup>
                  </select>
                  <label for="selected-years-mobile">연도를 선택하세요</label>
                  <!-- <span id="selected-years-placeholder" class="hide-desktop">연도를 선택하세요</span> -->
                  <span class="caret-mobile hide-desktop">▼</span>
              </div>
          </div>
      </div>
      <div id="tags-default" class="row">
        <div class="col s12 m8 offset-m2"></div>
      </div>
      <div class="row">
        <div class="input-field input-field-integrated col s12 m5 offset-m3">
          <input type="text" id="selected-keyword" class="text" name="keyword" placeholder="검색어(이름, 직위, 소속)를 입력하세요.">
          <button class="btn btn-large color-news" type="submit" name="action">검색</button>
        </div>
      </div>
    </form>
  </section>
  <div id="search-election" class="col s12 tab-content">
    <form id="form-search-election" class="container" action="/officials" method="GET">
      <div class="row">
          <div class="col s12 m10 offset-m1">
              <div class="input-field col s12 m4">
                  <select id="selected-provinces" name="province">
                    <option value="" disabled selected hidden>지역을 선택하세요</option>
                  </select>
                  <select id="selected-provinces-mobile" name="province">
                    <option value="" disabled selected hidden>지역을 선택하세요</option>
                  </select>
                  <span class="caret-mobile hide-desktop">▼</span>
              </div>
              <div class="input-field col s12 m4">
                  <select id="selected-municipals" name="municipal">
                    <option value="" disabled selected hidden>시/군/구를 선택하세요</option>
                  </select>
                  <select id="selected-municipals-mobile" name="municipal">
                    <option value="" disabled selected hidden>시/군/구를 선택하세요</option>
                  </select>
                  <span class="caret-mobile hide-desktop">▼</span>
              </div>
              <div class="input-field col s12 m4">
                  <select id="selected-dongs" name="dong">
                    <option value="" disabled selected hidden>읍/면/동을 선택하세요</option>
                  </select>
                  <select id="selected-dongs-mobile" name="dong">
                    <option value="" disabled selected hidden>읍/면/동을 선택하세요</option>
                  </select>
                  <span class="caret-mobile hide-desktop">▼</span>
              </div>
          </div>
      </div>
      <div id="tags-election" class="row">
        <div class="col s12 m8 offset-m2"></div>
      </div>
      <div class="row">
        <div class="input-field input-field-integrated col s12 m5 offset-m3">
          <input type="text" id="selected-keyword-election" class="text" name="keyword" placeholder="검색어(이름, 직위, 소속)를 입력하세요.">
          <button class="btn btn-large color-news" type="submit" name="action">검색</button>
        </div>
      </div>
    </form>
  </div>
</section>
