<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>고위공직자 재산 공개 | 뉴스타파 X 코드나무</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/vendor/material/css/materialize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav id="nav"></nav>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header></header>
    <section id="search"></section>
    <section id="main"></section>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <div class="row">
              <p><a href="http://newstapa.org" title="뉴스타파"><img src="/img/newstapa-gray.png" alt="뉴스타파"></a></p>
              <p><a href="http://cckorea.org" title="CCKOREA"><img src="/img/cc-gray.png" alt="CCKOREA"></a></p>
            </div>

          </div>
          <div class="col l7 s12">
            <div class="row">

                <p>CCKOREA에 의해 작성된 뉴스타파 고위공직자 재산 공개 사이트는 크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스에 따라 이용할 수 있습니다.</p>
                <p>
                Copyright 2016 Creative Commons Korea / The Korea center for investigative journalism Some Rights Reserved.
              </p>
            </div>
          </div>
          <div class="col l2 s12">
            <div class="row">
                <img src="/img/by.png" alt="CC BY" style="width: 100px;">

            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal Structure -->
    <div id="data-alert" class="modal">
      <div class="modal-content">
        <h4>조금만 기다려주세요!</h4>
        <p>이 프로젝트에 사용된 데이터 중 2011년부터 2016년에 해당하는 데이터를 4월 중으로 CC BY-SA 4.0 라이선스를 통해 공개할 예정입니다. 조금만 기다려주세요.</p>
      </div>
      <div class="modal-footer">
        <a href="/#" class=" modal-action modal-close waves-effect waves-green btn-flat">확인</a>
      </div>
    </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/lodash/dist/lodash.compat.min.js"></script>
    <script src="/vendor/backbone.min.js"></script>
    <script src="/vendor/modernizr/modernizr.js"></script>
    <script src="/vendor/material/js/materialize.min.js"></script>
    <script src="/vendor/material/js/velocity.min.js"></script>
    <script src="/vendor/backbone.queryparams.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="/vendor/d3pie.min.js"></script>
    <script src="/vendor/Wookmark-jQuery/wookmark.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/templates.js"></script>
    <script src="scripts/views/searchresult.js"></script>
    <script src="scripts/views/official.js"></script>
    <script src="scripts/views/card.js"></script>
    <script src="scripts/routes/main.js"></script>
    <script src="scripts/models/province.js"></script>
    <script src="scripts/models/org.js"></script>
    <script src="scripts/models/official.js"></script>
    <script src="scripts/models/municipal.js"></script>
    <script src="scripts/models/dong.js"></script>
    <script src="scripts/collections/dong.js"></script>
    <script src="scripts/collections/municipal.js"></script>
    <script src="scripts/collections/official.js"></script>
    <script src="scripts/collections/org.js"></script>
    <script src="scripts/collections/province.js"></script>
    <script src="scripts/views/about.js"></script>
    <script src="scripts/views/contact.js"></script>
    <script src="scripts/views/header.js"></script>
    <script src="scripts/views/nav.js"></script>
    <script src="scripts/views/searchbox.js"></script>
</body>
</html>
